@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@100..700&family=Lexend:wght@100..900&family=Outfit:wght@100..900&display=swap");
#blob {
  position: relative;
}
#blob canvas {
  width: 1000px;
  margin-top: -7%;
}
@media (max-width: 1200px) {
  #blob canvas {
    margin-top: -10%;
    width: 800px;
  }
}
@media (max-width: 600px) {
  #blob canvas {
    width: 800px;
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

html,
body {
  overflow: hidden;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #05271D;
  font-family: "Lexend", sans-serif;
}

#logo{
  max-height: 120px;
}

#caption {
  color: #CDD9ED;
  font-weight: 200;
  margin-top: 40px;
  text-align: center;
}